@import "reset", "style", "mixins";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Cinzel+Decorative");
$background: #353535;
$DarkBackground: #232323;
$White: #ffffff;
$Gray: #afafaf;
$Blue: #2789e9;
$Gray_: #50595b;

$FiraSans: "Fira Sans", sans-serif;
$Cinzel: "Cinzel Decorative", cursive;
$GlobalFont: $FiraSans;
$GlobalFontSize: 13px;

body {
    background: $background;
    color: $White;
    font-family: $GlobalFont;

    .logo {
        font-family: $Cinzel !important;
        text-decoration: none;
        color: $White;
        font-size: $GlobalFontSize * 2;
        text-align: center;
        width: 100%;
        display: block;
        margin: 50px 0 0 0;
        color: $Gray;
        letter-spacing: 0.5px;
        line-height: 55px;
    }

    .search-wrapper {
        background-image: url("../styles/illustrations/NewYork.svg");
        background-size: contain;
        padding: 60px;
        background-position: center;

        .search-container {
            max-width: 900px;
            background: $DarkBackground;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;

            &-section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex: 1;

                input[type="text"] {
                    outline: 0;
                    border: 0;
                    background: $background;
                    color: $Gray;
                    width: 100%;
                    padding: ($GlobalFontSize - 3) $GlobalFontSize;
                    font-size: $GlobalFontSize + 3;
                    font-family: $GlobalFont;
                    letter-spacing: 0.3px;
                    font-weight: 400;
                }

                span {
                    margin: 0 0 0 20px;
                    color: $Gray;

                    &:hover {
                        color: $White;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .news-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .news-entry {
            max-width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $DarkBackground;
            margin: 20px;
            border-radius: 3px;

            .news-contents {
                padding: 20px 20px 0 20px;

                h1 {
                    margin: 5px 0;

                    a,
                    a:visited {
                        font-size: $GlobalFontSize + 4;
                        line-height: $GlobalFontSize + 6;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.3px;
                        color: $White;
                        text-decoration: none;

                        &:hover {
                            color: $Blue;
                        }
                    }
                }
                h3 {
                    font-size: $GlobalFontSize + 2;
                    font-weight: 400;
                    padding: 5px;
                    color: $Gray_;
                    margin: 10px 5px;
                }
                p {
                    font-size: $GlobalFontSize + 1;
                    font-weight: 400px;
                    margin: 20px 5px;
                }
                span.source {
                    background: $Blue;
                    padding: 5px 10px;
                    font-size: $GlobalFontSize - 1;
                }
                span.date {
                    font-size: $GlobalFontSize - 1;
                    display: flex;
                    align-items: center;

                    img {
                        width: 16px;
                        height: 16px;
                        margin: 0 5px;
                    }
                }

                .news-manage {
                    border-top: 1px dashed $Gray;
                    padding: 20px 0;
                    margin: 20px 0 0 0;
                    display: flex;
                    justify-content: space-between;

                    .bookmarked {
                        color: red;
                    }
                    span[class^="icon-"] {
                        margin: 0 5px;
                        font-size: $GlobalFontSize;
                        @include transition(color, 0.3s);

                        &:first-child {
                            font-size: $GlobalFontSize + 2;

                            &:hover {
                                color: $Blue;
                            }
                        }
                    }
                }
            }

            .news-image {
                width: 100%;
                height: 200px;
                overflow: hidden;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                flex: 1;

                img {
                    width: 100%;
                    min-height: 200px;
                }
            }

            &:hover {
                box-shadow: 0 0 25px $DarkBackground;
                cursor: pointer;
            }
        }
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 10px 0;
        margin: 20px 0 0 0;

        .pagination {
            padding: 10px;
            margin: 0 10px;
            background: $DarkBackground;
            color: $White;
            font-size: $GlobalFontSize - 1;

            &:hover {
                cursor: pointer;
            }
        }

        .current {
            color: $White;
            background: $Blue;
        }
    }

    footer {
        width: 100%;
        min-height: 100px;
        margin-top: 50px;
        background: $DarkBackground;
        background: url("../styles/illustrations/NewYork.svg");
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
        background-repeat: repeat;
        text-align: center;
        padding: 20px 0;
        color: $Gray;
        font-size: $GlobalFontSize;

        img {
            width: $GlobalFontSize;
            height: $GlobalFontSize;
        }

        h1 {
            font-size: $GlobalFontSize + 1;
            margin: 20px 0;
        }
        h2 {
            font-size: $GlobalFontSize;
            margin: 20px 0;
        }

        h1,
        h2 {
            span {
                color: $Gray;
            }
        }

        a,
        a:visited {
            padding: 2px 5px;
            text-transform: capitalize;
            text-decoration: none;
            color: $White;
            border-radius: 2px;
            border-bottom: 2px solid $Blue;

            span {
                color: $White;
            }
        }
    }
}
